:root {
    --color-text: #FFF;
    --color-hover: rgba(255, 255, 255, 0.6);
    --color-background: #000;
    --color-column: #6c1d2a;
    --color-pbackground: #6c1d2a;


}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

header {
    background-image: url("https://wallpapercave.com/wp/wp10467049.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}


h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text);
    font-size: clamp(4rem, 1.204rem + 7.767vw, 8rem);
}

header h2 {
    display: flex;
    justify-content: center;
    font-size: clamp(2rem, 0.571rem + 3.81vw, 4rem);
    color: var(--color-text);
}


header ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: clamp(1rem, 0.286rem + 1.905vw, 2rem);


}

header li {
    padding: 5px 20px 5px 20px;
    border-radius: 10px;

}

header li:hover {
    background-color: var(--color-hover);

}

header a {
    color: var(--color-text);
    text-decoration: none;

}


main {
    display: flex;

    color: var(--color-text);
    margin: 0 auto;
    width: 100%;
}


.column {
    display: flex;
    flex-direction: column;
    background-color: var(--color-column);
    width: 70%;
    margin: 0;
}

.column h2 {
    margin-top: 20%;
}

.column li {
    display: flex;
    list-style-type: none;
    align-items: flex-start;
}

.column a {
    text-decoration: none;
    font-size: clamp(1rem, 0.857rem + 0.381vw, 1.2rem);
    color: var(--color-text);
    margin: 10%;


}

.maincontent {
    margin: 5%;
}

article {
    display: flex;
    margin-bottom: 10%;
    background-color: var(--color-pbackground);
}

p {
    margin: 2%;
    background-color: var(--color-pbackground);
    width: 90%;
    font-size: clamp(0.8rem, 0.443rem + 0.952vw, 1.3rem);

}

#flowstate p {
    width: 95%;
}

#imgFlowstate {
    width: 50%;
    border-radius: 10px;
}

#imgFlowstate:hover {
    background-color: #000;
}

article img {
    width: 50%;
}
article video {
    width: 100%;
}

.reverse {
    flex-direction: row-reverse;
}


#upbutton {
    position: fixed;
    bottom: 10px;
    right: 10px;

}

#upbutton button {
    background-color: transparent;
}


#upbutton img {
    height: 60px;
    width: 60px;
    display: flex;
    flex-direction: column;
}

#arrow {
    background-color: var(--color-text);
}

footer {
    background-color: var(--color-background);
}


footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: clamp(1rem, 0.286rem + 1.905vw, 2rem);
    padding: 4% 2% 4% 2%;;
    background-color: var(--color-column);
    margin-right: 6%;
    margin-top: 0%;
    margin-bottom: 0%;

}


footer a {
    color: var(--color-text);
}

@media screen and (max-width: 800px) {
    article{
        display: flex;
        flex-wrap: wrap;
    }
    article img {
        width: 100%;
    }

}


/*@media screen and (min-width: 1400px){*/
/*    ul {*/
/*        display: flex;*/
/*        justify-content: space-evenly;*/

/*    }*/

/*    li {*/
/*        width: 900px*/
/*    }*/

/*    article {*/
/*        display: flex;*/
/*        align-items: center;*/
/*        !* gab zwischen zwei flex *!*/
/*        gap: 2%;*/

/*    }*/

/*    section {*/
/*        max-width: 60%;*/

/*    }*/

/*}*/